*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Serif", serif;
}
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{  
    display: inline-block;
    margin-right: 50px;   
}
h1{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;

}
p{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: linear-gradient(to right, black, rgb(255, 0, 0));
}
.header .row{
    margin-top: 70px;
}
section{
    padding: 20px 100px;
}
.section-home{
    position: relative;
    min-height: 100vh;
    background: url("áº£nh/valorant-episode-9-act-3-release-00.webp") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.section-home h2{
    color: #fff;
    font-size: 2vw;
    font-weight: 800;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.logout-btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition:background 0.5s;
}
.logout-btn:hover{
    background: #563434;
}
/*slider*/
.slider{
    width: 1500px;
    max-width: 100vw;
    height: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;;
}
.list img{
    width: 1500px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: "Roboto Serif", serif;
    font-weight: bold;
}
/*footer*/
.footer{
    background:#000;
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100px;
    margin-bottom: 20px;
}