*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Serif", serif;
    background: linear-gradient(to right, black, rgb(255, 0, 0));
}
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{  
    display: inline-block;
    margin-right: 50px;   
}
h1{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;

}
p{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}    
/*cart icon*/
svg{
    width: 30px;
}
button{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.cartTab{
    width: 400px;
    max-width: 100%;
    background-color: #d44a4ace;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: rgb(216, 50, 50);
    border: none;
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
/*  */
.cartTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab{
    right: 0;
}
body.activeTabCart .container{
    transform: translateX(-250px);
}
/*  */
.listProduct .item img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}
.listProduct .item{
    width: 350px;
    height: 550px;
    padding: 15px;
    box-shadow: 7px 4px 15px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.listProduct .item .price{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.listProduct .item button{
    background-color: rgb(216, 50, 50);
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    transition: background 0.5s;
}
.listProduct .item button:hover{
    background: #563434;
}
/*  */

.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .quantity{
    display: flex;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: "Roboto Serif", serif;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(1){
    background-color: rgb(216, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
    transition: background 0.5s;
}
.detail .buttons button:nth-child(1):hover{
    background-color: #563434;
}
.detail .description{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}