body{
    font-family: "Roboto Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    background: linear-gradient(to right, black, rgb(255, 0, 0));
}
form{
    width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;

}
h2 {
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
button {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding:8px 30px;
        margin: 30px 0px;
        border-radius: 30px;
        transition:background 0.5s;
}
button:hover{
    background: #563434;
}