*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Serif", serif;
    background: linear-gradient(to right, black, rgb(255, 0, 0));
}
.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{  
    display: inline-block;
    margin-right: 50px;   
}
h1{
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
    text-align: center;
}
a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
p{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.slide__body .container .container_slide .slides .item {
    position: relative;
    height: 700px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
.slide__body .container .container_slide .slides .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: flex-start;
    align-items: center;
  }
/*details*/
.products {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 80px auto;
  }
  .product-item {
    width: 350px;
    height: 550px;
    padding: 15px;
    box-shadow: 7px 4px 15px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .product-item img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black;
  }
  .product-info h3 {
    font-size: 23px;
  }
  .product-info p {
    text-align: end;
  }
  .product-info a {
    text-decoration: none;
    width: 90%;
    background-color: rgb(216, 50, 50);
    text-align: center;
    padding: 10px;
    font-size: 17px;
    color: white;
    margin: 15px auto;
    font-weight: 500;
    transition: background 0.5s;
  } 
  .product-info a:hover {
    background: #563434;
  }
